body {
    background-color: #f0f2f5;
}
@media screen and (min-width: 900px ){
    .subtitle{
        font-size: 1.25rem;
    }
}


.subtitle {
    font-weight: 500;
}
.fs-small {
    font-size: 0.75rem;
}

.fs-ex-small {
    font-size: 0.5rem;
}

@media screen and (min-width: 1000px) {
    .fs-small {
        font-size: 1rem;
    }
    .fs-ex-small {
        font-size: 0.8rem;
    }
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
